[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "*"
dataclasses = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
mypy = "*"
"autopep8" = "*"
pylint = "*"
pipenv = "*"

[requires]
python_version = "3.6"
